*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
display: flex;
align-items: center;
padding: 30px;
padding-left: 40px;
width: 100vw;
}

.nav-1{
    display: flex;
    gap: 50px;
    align-items: center;
}

select{
    border: none;
    background-color: whitesmoke;
}
.icon-1{
    width: 40px;
    height: 40px;
    background-color: #7EB693;
    border-radius: 60px;
    text-align: center;
   padding: 8px;
    margin-left: 10px;
 
 
}
.icon-2{
    width: 40px;
    height: 40px;
    background-color: #274C5B;
    border-radius: 60px;
    text-align: center;
   padding: 8px;
   margin-left: 30px;
   margin-top: 2px;
}

.icon-cont1{

    margin-top: 1px;
    width: 200px;
    height: 45px;
    align-items: center;
    padding-top: 2px;
    border: 1px solid ;
 
    border-radius: 50px;
}

.div-2{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 150px;
}
.icon-cont2{

    margin-top: 1px;

    width: 100px;
    height: 45px;
    align-items: center;
    padding-top: 2px;
    border: 1px solid ;
    padding-left: 20px;
    border-radius: 50px;
    display: flex;
}
nav{
    width: 100vw;
}