*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.st-footer>h1{
color: #fff;
font-weight: 800;
font-size: 50px;
}

.st-footer>div>input{
    width: 240px;
    height: 40px;
    border-radius: 14px;
    border: none;
    padding-left: 30px;
}
.st-footer>div>button{
    width: 180px;
    height: 40px;
    border-radius: 14px;
    border: none;
    background-color: #274C5B;
    color: #fff;
}
.st-footer{
    margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 30px;
  background-image: url("../../assets/Background\ \(6\).png");
  background-size: cover;
  height: 300px;
  border-radius: 34px;
  width: 1000px;
  margin-left: 270px;
  margin-bottom: 130px;
}

.st-footer>div{
    display: flex;
    gap: 50px;
}