*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ssingle-banner{
    width: 100%;
    height: 50vh;
    text-align: center;
    align-content: center;
    background-image: url('../../assets/Background\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
}